a {
  color: #cc9fa2;
  text-decoration: none;
}

a:hover {
  color: #cc9fa2;
  text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #2a1e5c;
  background: whitesmoke;
}

#container {
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#body {
  padding-bottom: 150px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paddingbot__uno {
  padding-bottom: 1%;
}

/* Sticky */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ancho__100 {
  width: 100%;
}

/* Mobile */
@media (min-width: 360px) {
  body {
    font-size: 1.15rem;
  }
  /* Navegador */
  .contenedor__header--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-bottom: #cc9fa2 1px;
    background-color: whitesmoke;
    max-width: 720px;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 0.2rem;
    margin-bottom: 0.5rem;
    height: 100%;
    font-size: 1.5rem;
    width: 100%;
  }
  .contenedor__header--mobile a {
    color: #cc9fa2;
  }
  .contenedor__header--tablet {
    display: none;
  }
  .contenedor__header--escritorio {
    display: none;
  }
  /* Main */
  .titulo {
    color: #2a1e5c;
    font-size: 1.4rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .titulo:hover {
    color: #2a1e5c;
  }
  .contenedor__recomendados {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 720px;
    width: 100%;
    height: 100%;
  }
  .contenedor__libros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 720px;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor__libros--caja {
    height: 100%;
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 4%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contenedor__libros img {
    width: 8rem;
    height: 13rem;
    border-radius: 2.5%;
  }
  /* Subscripcion */
  .contenedor__subscripcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 720px;
    width: 100%;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5%;
  }
  .sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2a1e5c;
    color: #dddfdf;
    font-size: 1.5rem;
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 2.5%;
  }
  .sub p {
    font-size: 1.1rem;
    margin: 0%;
    padding: 1%;
  }
  .boton__subMobile {
    background-color: #cc9fa2;
    border-color: #cc9fa2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
  }
  .boton__subMobile:hover {
    background-color: #a07174;
    border-color: #cc9fa2;
  }
  .boton__subMobile:focus {
    background-color: #a07174;
    border-color: #cc9fa2;
  }
  .boton__sub {
    display: none;
  }
  /* Eventos */
  .contenedor__eventos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 720px;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor__eventos--dosCalendario {
    width: 100%;
    height: 100%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
  }
  .contenedor__eventos--dosCalendario ol {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    background: #d6d6d6;
    font-weight: bold;
    padding: 4px;
    text-align: center;
  }
  .contenedor__eventos--dosCalendario h4 {
    text-align: center;
    font-size: 1.2rem;
    background: #d6d6d6;
    padding: 0;
  }
  .contenedor__eventos--dosCalendario ul {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    background-color: #dddfdf;
  }
  .primer__dia {
    grid-column-start: 3;
  }
  /* Perfil */
  .contenedor__perfil {
    padding-top: 25%;
    padding-bottom: 25%;
  }
  /* Contacto */
  .contenedor__contacto--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 720px;
    height: 100%;
  }
  .contenedor__contacto--mobileRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contenedor__contacto--mobileColumna {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gap__5 {
    gap: 5%;
  }
  .paddingbot__5 {
    padding-bottom: 5%;
  }
  .paddingtop__5 {
    padding-top: 5%;
  }
  /* Registro-Inicio de sesion */
  .color__boton {
    color: #2a1e5c;
  }
  .color__boton:hover {
    color: #2a1e5c;
  }
  /* Footer */
  .footer {
    height: 150px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #cc9fa2;
    max-width: 720px;
    padding-top: 0.5rem;
    padding-bottom: 4rem;
    width: 100%;
    height: 100%;
  }
  .contenedor__footer a {
    color: whitesmoke;
  }
  .contenedor__footer--icon {
    font-size: 1.5rem;
  }
  .ayuda {
    font-size: 1.2rem;
  }
  .contenedor__footerT {
    display: none;
  }
}

/* Tablet */
@media (min-width: 721px) {
  .titulo {
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    color: #2a1e5c;
    text-decoration: none;
  }
  .titulo:hover {
    color: #2a1e5c;
  }
  /* Header */
  .contenedor__header--mobile {
    display: none;
  }
  .contenedor__header--tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: #cc9fa2 1px;
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 0.2rem;
    margin-bottom: 0.5rem;
    width: 720px;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
  }
  .contenedor__header--tabletBoton {
    background-color: #cc9fa2;
    border-color: #cc9fa2;
    color: whitesmoke;
  }
  .contenedor__header--tabletBoton:hover {
    background-color: #cc9fa2;
  }
  .contenedor__header--tabletBoton:focus {
    background-color: #cc9fa2;
  }
  .contenedor__header--tabletBorde {
    border-color: #cc9fa2;
    color: whitesmoke;
  }
  .flex__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenedor__header--escritorio {
    display: none;
  }
  .derecha__uno {
    right: -5%;
  }
  /* Main */
  .borde__ca {
    border-radius: 2.5%;
  }
  .contenedor__libros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 720px;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 1rem;
  }
  .contenedor__libros img {
    width: 8rem;
    height: 12rem;
    border: 0;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  }
  .contenedor__libros img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .contenedor__libros--caja {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.2rem;
    font-style: italic;
  }
  .overflow__radius {
    overflow: hidden;
    border-radius: 5%;
  }
  /* Subcripcion */
  .contenedor__subscripcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #2a1e5c;
    border-radius: 1.3%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0%;
    height: 100%;
  }
  .sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.3rem;
    color: #dddfdf;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin: 0%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    height: 100%;
  }
  .sub p {
    font-size: 1rem;
    margin-bottom: 0rem;
    padding-bottom: 0.2rem;
  }
  .marginbot__cinco {
    margin-bottom: 5%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .boton__subMobile {
    display: none;
  }
  .contenedor__botones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 45.5%;
    padding-right: 13%;
    padding-top: 1%;
  }
  .boton__sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #cc9fa2;
    border-color: #cc9fa2;
  }
  .boton__sub:hover {
    background-color: #a07174;
    border-color: #cc9fa2;
  }
  .boton__sub:focus {
    background-color: #a07174;
    border-color: #cc9fa2;
  }
  /* Eventos */
  .contenedor__eventos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 720px;
    height: 100%;
  }
  .contenedor__eventos--dos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 720px;
    height: 100%;
  }
  .contenedor__eventos--dos Texto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor__eventos--dosCalendario {
    width: 48%;
    height: 100%;
  }
  /* Contacto */
  .contenedor__contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 720px;
    height: 100%;
  }
  .contenedor__contacto--columna {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor__contacto--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .gap__15 {
    gap: 15%;
  }
  .paddingtop__tres {
    padding-top: 3%;
  }
  .paddingbot__5 {
    padding-bottom: 0%;
  }
  .paddingtop__5 {
    padding-top: 0%;
  }
  /* Perfil */
  .contenedor__perfil {
    padding-top: 50%;
    padding-bottom: 50%;
    padding-right: 0;
    padding-left: 0;
  }
  /* Footer */
  .contenedor__footer {
    display: none;
  }
  .contenedor__footerT {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #cc9fa2;
    width: 720px;
    height: 150px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0.5rem;
    margin-top: 1.2rem;
    padding-bottom: 0.5rem;
  }
  .contenedor__footerT a {
    color: whitesmoke;
  }
  .contenedor__footerT--icon {
    font-size: 1.8rem;
  }
  .contenedor__footerT--contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: whitesmoke;
  }
  .contenedor__footerT--contacto a {
    text-decoration: none;
  }
}

/* PC */
@media (min-width: 1080px) {
  main {
    height: 100%;
  }
  /* Header */
  .contenedor__header--tablet {
    display: none;
  }
  .contenedor__header--escritorio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: #cc9fa2 1px;
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 0.2rem;
    margin-bottom: 0.5rem;
    width: 1080px;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
  }
  .contenedor__header--escritorioBoton {
    background-color: #cc9fa2;
    border-color: #cc9fa2;
    color: whitesmoke;
  }
  .contenedor__header--escritorioBoton:hover {
    background-color: #cc9fa2;
  }
  .contenedor__header--escritorioBoton:focus {
    background-color: #cc9fa2;
  }
  .contenedor__header--escritorioBorde {
    border-color: #cc9fa2;
    color: whitesmoke;
  }
  .derecha__dos {
    right: -70%;
  }
  /* Main */
  .contenedor__recomendados {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1080px;
    width: 1080px;
    height: 100%;
  }
  .contenedor__libros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1080px;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 1rem;
  }
  /* Subscripcion */
  .contenedor__subscripcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #2a1e5c;
    border-radius: 1.3%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 1080px;
    height: auto;
  }
  .contenedor__botones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 47.5%;
    padding-right: 13%;
    padding-top: 1%;
  }
  /* Eventos */
  .contenedor__eventos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1080px;
    height: 100%;
    width: 100%;
  }
  .contenedor__eventos--dos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1080px;
    height: 100%;
  }
  /* Footer */
  .contenedor__footerT {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #cc9fa2;
    width: 1080px;
    height: 150px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0.5rem;
    margin-top: 1.2rem;
    padding-bottom: 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */